* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  height: 2000px;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  height: 60px;
  background-color: #4c4c6d;
  padding: 10px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content .brand {
  font-size: 32px;
  text-decoration: none;
  color: #e8f6ef;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul#user_info {
  display: none;
}

nav ul#user_info li i {
  color: #e57c23;
  cursor: pointer;
  font-size: 30px;
  margin: 10px 15px;
}

nav ul#user_info li .badge {
  width: 20px;
  height: 20px;
  background-color: #1b9c85;
  color: #ffe194;
  position: absolute;
  display: none;
  border-radius: 50%;
  text-align: center;
  top: 10px;
  right: 285px;
  font-size: 15px;
}

nav ul#user_info li .carts-products {
  display: none;
  background-color: #ddd;
  padding: 10px;
  text-align: center;
  width: 200px;
  transform: translate(-42%, 0);
  top: 46px;
}

nav ul#user_info li .carts-products a {
  color: #fff;
  display: block;
  background-color: #ffe194;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
}

nav li a {
  display: block;
  color: #fff;
  min-width: 80px;
  padding: 5px;
  margin: 0 5px;
}

/* Form */
.section-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: #ffe194;
  text-align: center;
  padding: 20px;
}

.section-form h2 {
  font-size: 50px;
  color: #1b9c85;
  letter-spacing: 2px;
}

.section-form form input {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  height: 40px;
  border: 1px solid #ddd;
  font-family: "Roboto Slab", serif;
}

.section-form form input[type="submit"] {
  font-size: 25px;
  text-transform: uppercase;
  height: auto;
  cursor: pointer;
}

.section-form form input[type="submit"]:hover {
  opacity: 0.8;
}

/* Products */
.products {
  width: 60%;
  margin: 10px 0;
}

.product-item {
  display: flex;
  width: 100%;
}

.product-item-img {
  width: 25%;
  margin-right: 10px;
}

.product-item-desc a {
  cursor: pointer;
}

.product-item-actions {
  flex: 1;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-item .add-to-cart {
  display: block;
  margin-left: auto;
  color: #e57c23;
  background-color: #f8f1f1;
  border: 0;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.product-item .heart {
  cursor: pointer;
  display: block;
  width: 20px;
  margin-left: auto;
}

.item-details img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin: 20px 0;
  border: 1px solid #333;
}
